RewriteEngine on
RewriteCond %{projects} !-d
RewriteCond %{projects}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# for software
RewriteEngine on
RewriteCond %{software} !-d
RewriteCond %{index.html}\.html{#software} -f
RewriteRule ^(.*)$ $1.html [NC,L]
